@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,900&family=Nunito+Sans:ital,wght@1,900&display=swap');

$body-font-family: 'Kanit';
$bg-text:  #eeeeee;

@import '~vuetify/src/styles/styles.sass';

@mixin mq-min($breakpoint) {
    @media (min-width: $breakpoint) {
        @content;
    }
}

@mixin menu-dimensions($dim, $font) {
    height: $dim;
    width: $dim;
    font-size: $font;
    line-height: $font;
}

@mixin itboldcenter {
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

@mixin normal-text {
    font-family: arial;
    font-weight: normal;
}